.leadforms {
    background: url(https://imagedelivery.net/nJwaBs__P2JfMUeYJ4vmjQ/61ab660f-8334-4042-bf67-f6b764d1cb00/public) no-repeat;
    padding: 2rem 3rem 2rem 6rem;
    z-index: 1;
    width: max-content;
    margin: auto;
    box-shadow:
        7.9px 8.6px 10px rgba(111, 111, 111, 0.03),
        63px 69px 80px rgba(0, 0, 0, 0.06);
}

.leadforms input,
.leadforms textarea {
    color: #707070;
    font-size: 14px !important;
    font-weight: 500 !important;
    padding: 10px 0;
    line-height: 1.5;
    border: none;
    border-radius: 0;
    box-sizing: border-box;
    outline: 0;
    margin: 0 0 15px;
    transition: all .3s;
    background: rgba(0, 0, 0, 0);
    border-bottom: 1px solid #A6A6A6;
    display: block;
    width: 100%;
}

.leadforms textarea {
    height: 70px;
}

.leadforms sup {
    color: rgb(244, 59, 59);
}

.leadforms button {
    width: 100%;
    background: #00C0E4;
    color: #fff;
    padding: 0.8rem;
}

.leadforms button:hover {
    width: 100%;
    background: #000;
    color: #fff;
    border: 1px solid #00C0E4;
    padding: 0.8rem;
}
@media screen and (max-width:767px){
    .leadforms {
        background: rgb(226, 226, 226);
        padding: 2rem 1rem 2rem 1rem;
        z-index: 1;
        width: 100%;
        margin: auto;
        box-shadow:
            7.9px 8.6px 10px rgba(111, 111, 111, 0.03),
            63px 69px 80px rgba(0, 0, 0, 0.06);
    }
}